<h2>Sign up</h2>
<%= form_for(:user, url: users_path) do |f| %>
  <fieldset>
    <div class="input-group input-group-md col-md-12 form-input-box">
      <%= f.label :username, class: "sr-only" %>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
        <%= f.text_field :username, class: "form-control", placeholder: "Username", required: true %>
      </div>
    </div>

    <div class="input-group input-group-md col-md-12 form-input-box">
      <%= f.label :email, class: "sr-only" %>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </div>
        <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
      </div>
    </div>

    <div class="input-group input-group-md col-md-12 form-input-box">
      <%= f.label :password, class: "sr-only" %>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </div>
        <%= f.password_field :password, class: "form-control", placeholder: "Password", required: true %>
      </div>
    </div>

    <div class="input-group input-group-md col-md-12 form-input-box">
      <%= f.label :password_confirmation, class: "sr-only" %>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
        </div>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", required: true %>
      </div>
    </div>

    <div class="input-group input-group-md col-md-12 form-input-box">
      <%= f.label :phone_number, class: "sr-only" %>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </div>
        <%= f.telephone_field :phone_number, class: "form-control", id: "authy-cellphone", placeholder: "555-555-5555", required: true %>
      </div>
    </div>

    <div class="input-group input-group-md col-md-12 form-input-box">
      <%= f.label :country_code, class: "sr-only" %>
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        </div>
        <%= f.text_field :country_code, class: "form-control", id: "authy-countries", placeholder: "Country Code" %>
      </div>
    </div>
  </fieldset>

  <div class="form-actions btn-login">
    <%= f.submit "Sign Up", class: "btn btn-default" %>
  </div>
<% end %>
