<!DOCTYPE html>
<html>
<head>
  <title>Stash This Moment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://www.authy.com/form.authy.min.css" media="screen" rel="stylesheet" type="text/css">
  <script src="https://www.authy.com/form.authy.min.js" type="text/javascript"></script>
</head>
<body>

  <% if flash[:message] %>
      <% flash[:message].each do |key, value| %>
        <h5 class="alert alert-success">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <%= key.to_s.titlecase %>: <%= value %>
        </h5>
      <% end %>
    <% end %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |key, value| %>
        <h5 class="alert alert-warning">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= key.to_s.titlecase %>: <%= value %>
        </h5>
      <% end %>
    <% end %>

    <% if flash[:notice] %>
      <% flash[:notice].each do |key, value| %>
        <h5 class="alert alert-warning">
          <span aria-hidden="true"></span>
          <%= key.to_s.titlecase %>: <%= value %>
        </h5>
      <% end %>
    <% end %>

    <%= yield %>

</body>
</html>
